KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
DB_URL=jdbc:postgresql://postgres:5432/alphatrade
DB_USER=alphatrade
DB_PASS=alphatrade123
REDIS_HOST=redis
REDIS_PORT=6379
ALPHA_VANTAGE_KEY=replace-me
MARKET_DATA_URL=http://localhost:8087
MODEL_INFERENCE_URL=http://localhost:8090
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
